In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("heart_attack_prediction_dataset(in).csv")  # fix spelling and file location
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [10]:
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [12]:
# Show all columns
print(df.columns)

# Check for duplicates
print("Duplicate rows:", df.duplicated().sum())

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')
Duplicate rows: 0

In [13]:
# Remove spaces and standardize column names
df.columns = df.columns.str.strip().str.replace(" ", "_")

# Check result
print(df.columns.tolist())

['Patient_ID', 'Age', 'Sex', 'Cholesterol', 'Blood_Pressure', 'Heart_Rate', 'Diabetes', 'Family_History', 'Smoking', 'Obesity', 'Alcohol_Consumption', 'Exercise_Hours_Per_Week', 'Diet', 'Previous_Heart_Problems', 'Medication_Use', 'Stress_Level', 'Sedentary_Hours_Per_Day', 'Income', 'BMI', 'Triglycerides', 'Physical_Activity_Days_Per_Week', 'Sleep_Hours_Per_Day', 'Country', 'Continent', 'Hemisphere', 'Heart_Attack_Risk']

In [15]:
columns_to_drop = ["Patient_ID","Income","Country","Alcohol_Consumption","Continent","Hemisphere"]  # adjust based on your dataset
df = df.drop(columns=columns_to_drop, errors='ignore')  # ignore if column not present

# Check resu
df.head()

,Age,Sex,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,Previous_Heart_Problems,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk
0,67,Male,208,158/88,72,0,0,1,0,4.168189,Average,0,0,9,6.615001,31.251233,286,0,6,0
1,21,Male,389,165/93,98,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,27.194973,235,1,7,0
2,21,Female,324,174/99,72,1,0,0,0,2.078353,Healthy,1,1,9,9.463426,28.176571,587,4,4,0
3,84,Male,383,163/100,73,1,1,1,0,9.828130,Average,1,0,9,7.648981,36.464704,378,3,4,0
4,66,Male,318,91/88,93,1,1,1,1,5.804299,Unhealthy,1,0,6,1.514821,21.809144,231,1,5,0

In [16]:
print(df['Sex'].unique())

['Male' 'Female']

In [17]:
df['Sex'] = df['Sex'].map({'Male':1, 'Female':0}) #male 1, female 0
df

,Age,Sex,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,Previous_Heart_Problems,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk
0,67,1,208,158/88,72,0,0,1,0,4.168189,Average,0,0,9,6.615001,31.251233,286,0,6,0
1,21,1,389,165/93,98,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,27.194973,235,1,7,0
2,21,0,324,174/99,72,1,0,0,0,2.078353,Healthy,1,1,9,9.463426,28.176571,587,4,4,0
3,84,1,383,163/100,73,1,1,1,0,9.828130,Average,1,0,9,7.648981,36.464704,378,3,4,0
4,66,1,318,91/88,93,1,1,1,1,5.804299,Unhealthy,1,0,6,1.514821,21.809144,231,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,94/76,61,1,1,1,0,7.917342,Healthy,1,1,8,10.806373,19.655895,67,7,7,0
8759,28,0,120,157/102,73,1,0,0,1,16.558426,Healthy,0,0,8,3.833038,23.993866,617,4,9,0
8760,47,1,250,161/75,105,0,1,1,1,3.148438,Average,1,0,5,2.375214,35.406146,527,4,4,1
8761,36,1,178,119/67,60,1,0,1,0,3.789950,Unhealthy,1,1,5,0.029104,27.294020,114,2,8,0
8762,25,0,356,138/67,75,1,1,0,0,18.081748,Healthy,0,0,8,9.005234,32.914151,180,7,4,1

In [18]:
df['Cholesterol'].describe()

count    8763.000000
mean      259.877211
std        80.863276
min       120.000000
25%       192.000000
50%       259.000000
75%       330.000000
max       400.000000
Name: Cholesterol, dtype: float64

In [19]:
# Split 'Blood_Pressure' column into two numeric columns
df[['BP_Systolic', 'BP_Diastolic']] = df['Blood_Pressure'].str.split('/', expand=True)
df['BP_Systolic'] = pd.to_numeric(df['BP_Systolic'], errors='coerce')
df['BP_Diastolic'] = pd.to_numeric(df['BP_Diastolic'], errors='coerce')

# Drop original column
df = df.drop('Blood_Pressure', axis=1)

# Check
print(df[['BP_Systolic','BP_Diastolic']].head())

   BP_Systolic  BP_Diastolic
0          158            88
1          165            93
2          174            99
3          163           100
4           91            88

In [20]:
df.head()

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,...,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic
0,67,1,208,72,0,0,1,0,4.168189,Average,...,0,9,6.615001,31.251233,286,0,6,0,158,88
1,21,1,389,98,1,1,1,1,1.813242,Unhealthy,...,0,1,4.963459,27.194973,235,1,7,0,165,93
2,21,0,324,72,1,0,0,0,2.078353,Healthy,...,1,9,9.463426,28.176571,587,4,4,0,174,99
3,84,1,383,73,1,1,1,0,9.828130,Average,...,0,9,7.648981,36.464704,378,3,4,0,163,100
4,66,1,318,93,1,1,1,1,5.804299,Unhealthy,...,0,6,1.514821,21.809144,231,1,5,0,91,88

In [21]:
# Convert Diet to dummy variables
df = pd.get_dummies(df, columns=['Diet'], drop_first=True)

# Convert True/False → 1/0
df = df.replace({True: 1, False: 0})

# Check
print(df[['Diet_Healthy', 'Diet_Unhealthy']].head())

   Diet_Healthy  Diet_Unhealthy
0             0               0
1             0               1
2             1               0
3             0               0
4             0               1

C:\Users\USER PC\AppData\Local\Temp\ipykernel_4300\3265549046.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [22]:
df

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,67,1,208,72,0,0,1,0,4.168189,0,...,6.615001,31.251233,286,0,6,0,158,88,0,0
1,21,1,389,98,1,1,1,1,1.813242,1,...,4.963459,27.194973,235,1,7,0,165,93,0,1
2,21,0,324,72,1,0,0,0,2.078353,1,...,9.463426,28.176571,587,4,4,0,174,99,1,0
3,84,1,383,73,1,1,1,0,9.828130,1,...,7.648981,36.464704,378,3,4,0,163,100,0,0
4,66,1,318,93,1,1,1,1,5.804299,1,...,1.514821,21.809144,231,1,5,0,91,88,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,61,1,1,1,0,7.917342,1,...,10.806373,19.655895,67,7,7,0,94,76,1,0
8759,28,0,120,73,1,0,0,1,16.558426,0,...,3.833038,23.993866,617,4,9,0,157,102,1,0
8760,47,1,250,105,0,1,1,1,3.148438,1,...,2.375214,35.406146,527,4,4,1,161,75,0,0
8761,36,1,178,60,1,0,1,0,3.789950,1,...,0.029104,27.294020,114,2,8,0,119,67,0,1
8762,25,0,356,75,1,1,0,0,18.081748,0,...,9.005234,32.914151,180,7,4,1,138,67,1,0

In [23]:
df = df.dropna()
df

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,67,1,208,72,0,0,1,0,4.168189,0,...,6.615001,31.251233,286,0,6,0,158,88,0,0
1,21,1,389,98,1,1,1,1,1.813242,1,...,4.963459,27.194973,235,1,7,0,165,93,0,1
2,21,0,324,72,1,0,0,0,2.078353,1,...,9.463426,28.176571,587,4,4,0,174,99,1,0
3,84,1,383,73,1,1,1,0,9.828130,1,...,7.648981,36.464704,378,3,4,0,163,100,0,0
4,66,1,318,93,1,1,1,1,5.804299,1,...,1.514821,21.809144,231,1,5,0,91,88,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,61,1,1,1,0,7.917342,1,...,10.806373,19.655895,67,7,7,0,94,76,1,0
8759,28,0,120,73,1,0,0,1,16.558426,0,...,3.833038,23.993866,617,4,9,0,157,102,1,0
8760,47,1,250,105,0,1,1,1,3.148438,1,...,2.375214,35.406146,527,4,4,1,161,75,0,0
8761,36,1,178,60,1,0,1,0,3.789950,1,...,0.029104,27.294020,114,2,8,0,119,67,0,1
8762,25,0,356,75,1,1,0,0,18.081748,0,...,9.005234,32.914151,180,7,4,1,138,67,1,0

In [24]:
print(df.info())
print(df.describe())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   int64
 2   Cholesterol                      8763 non-null   int64
 3   Heart_Rate                       8763 non-null   int64
 4   Diabetes                         8763 non-null   int64
 5   Family_History                   8763 non-null   int64
 6   Smoking                          8763 non-null   int64
 7   Obesity                          8763 non-null   int64
 8   Exercise_Hours_Per_Week          8763 non-null   float64
 9   Previous_Heart_Problems          8763 non-null   int64
 10  Medication_Use                   8763 non-null   int64
 11  Stress_Level                     8763 non-null   int64
 12  Sedentary_Hours_Per_Day          8763 non-null   float64
 13  BMI                              8763 non-null   float64
 14  Triglycerides                    8763 non-null   int64
 15  Physical_Activity_Days_Per_Week  8763 non-null   int64
 16  Sleep_Hours_Per_Day              8763 non-null   int64
 17  Heart_Attack_Risk                8763 non-null   int64
 18  BP_Systolic                      8763 non-null   int64
 19  BP_Diastolic                     8763 non-null   int64
 20  Diet_Healthy                     8763 non-null   int64
 21  Diet_Unhealthy                   8763 non-null   int64
dtypes: float64(3), int64(19)
memory usage: 1.5 MB
None
               Age          Sex  Cholesterol   Heart_Rate     Diabetes  \
count  8763.000000  8763.000000  8763.000000  8763.000000  8763.000000
mean     53.707977     0.697364   259.877211    75.021682     0.652288
std      21.249509     0.459425    80.863276    20.550948     0.476271
min      18.000000     0.000000   120.000000    40.000000     0.000000
25%      35.000000     0.000000   192.000000    57.000000     0.000000
50%      54.000000     1.000000   259.000000    75.000000     1.000000
75%      72.000000     1.000000   330.000000    93.000000     1.000000
max      90.000000     1.000000   400.000000   110.000000     1.000000

       Family_History      Smoking      Obesity  Exercise_Hours_Per_Week  \
count     8763.000000  8763.000000  8763.000000              8763.000000
mean         0.492982     0.896839     0.501426                10.014284
std          0.499979     0.304186     0.500026                 5.783745
min          0.000000     0.000000     0.000000                 0.002442
25%          0.000000     1.000000     0.000000                 4.981579
50%          0.000000     1.000000     1.000000                10.069559
75%          1.000000     1.000000     1.000000                15.050018
max          1.000000     1.000000     1.000000                19.998709

       Previous_Heart_Problems  ...  Sedentary_Hours_Per_Day          BMI  \
count              8763.000000  ...              8763.000000  8763.000000
mean                  0.495835  ...                 5.993690    28.891446
std                   0.500011  ...                 3.466359     6.319181
min                   0.000000  ...                 0.001263    18.002337
25%                   0.000000  ...                 2.998794    23.422985
50%                   0.000000  ...                 5.933622    28.768999
75%                   1.000000  ...                 9.019124    34.324594
max                   1.000000  ...                11.999313    39.997211

       Triglycerides  Physical_Activity_Days_Per_Week  Sleep_Hours_Per_Day  \
count    8763.000000                      8763.000000          8763.000000
mean      417.677051                         3.489672             7.023508
std       223.748137                         2.282687             1.988473
min        30.000000                         0.000000             4.000000
25%       225.500000                         2.000000             5.000000
50%       417.000000                         3.000000             7.000000
75%       612.000000                         5.000000             9.000000
max       800.000000                         7.000000            10.000000

       Heart_Attack_Risk  BP_Systolic  BP_Diastolic  Diet_Healthy  \
count        8763.000000  8763.000000   8763.000000   8763.000000
mean            0.358211   135.075659     85.156111      0.337784
std             0.479502    26.349976     14.676565      0.472981
min             0.000000    90.000000     60.000000      0.000000
25%             0.000000   112.000000     72.000000      0.000000
50%             0.000000   135.000000     85.000000      0.000000
75%             1.000000   158.000000     98.000000      1.000000
max             1.000000   180.000000    110.000000      1.000000

       Diet_Unhealthy
count     8763.000000
mean         0.329910
std          0.470207
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000

[8 rows x 22 columns]

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,67,1,208,72,0,0,1,0,4.168189,0,...,6.615001,31.251233,286,0,6,0,158,88,0,0
1,21,1,389,98,1,1,1,1,1.813242,1,...,4.963459,27.194973,235,1,7,0,165,93,0,1
2,21,0,324,72,1,0,0,0,2.078353,1,...,9.463426,28.176571,587,4,4,0,174,99,1,0
3,84,1,383,73,1,1,1,0,9.828130,1,...,7.648981,36.464704,378,3,4,0,163,100,0,0
4,66,1,318,93,1,1,1,1,5.804299,1,...,1.514821,21.809144,231,1,5,0,91,88,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,61,1,1,1,0,7.917342,1,...,10.806373,19.655895,67,7,7,0,94,76,1,0
8759,28,0,120,73,1,0,0,1,16.558426,0,...,3.833038,23.993866,617,4,9,0,157,102,1,0
8760,47,1,250,105,0,1,1,1,3.148438,1,...,2.375214,35.406146,527,4,4,1,161,75,0,0
8761,36,1,178,60,1,0,1,0,3.789950,1,...,0.029104,27.294020,114,2,8,0,119,67,0,1
8762,25,0,356,75,1,1,0,0,18.081748,0,...,9.005234,32.914151,180,7,4,1,138,67,1,0

In [25]:
df.head()

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,67,1,208,72,0,0,1,0,4.168189,0,...,6.615001,31.251233,286,0,6,0,158,88,0,0
1,21,1,389,98,1,1,1,1,1.813242,1,...,4.963459,27.194973,235,1,7,0,165,93,0,1
2,21,0,324,72,1,0,0,0,2.078353,1,...,9.463426,28.176571,587,4,4,0,174,99,1,0
3,84,1,383,73,1,1,1,0,9.828130,1,...,7.648981,36.464704,378,3,4,0,163,100,0,0
4,66,1,318,93,1,1,1,1,5.804299,1,...,1.514821,21.809144,231,1,5,0,91,88,0,1

In [26]:
print(df.isnull().sum())

Age                                0
Sex                                0
Cholesterol                        0
Heart_Rate                         0
Diabetes                           0
Family_History                     0
Smoking                            0
Obesity                            0
Exercise_Hours_Per_Week            0
Previous_Heart_Problems            0
Medication_Use                     0
Stress_Level                       0
Sedentary_Hours_Per_Day            0
BMI                                0
Triglycerides                      0
Physical_Activity_Days_Per_Week    0
Sleep_Hours_Per_Day                0
Heart_Attack_Risk                  0
BP_Systolic                        0
BP_Diastolic                       0
Diet_Healthy                       0
Diet_Unhealthy                     0
dtype: int64

In [27]:
print(df.duplicated().sum())
df = df.drop_duplicates()

0

In [28]:
print(df['Heart_Attack_Risk'].value_counts())

Heart_Attack_Risk
0    5624
1    3139
Name: count, dtype: int64