In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("heart_attack_prediction_dataset(in).csv")  # fix spelling and file location
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [3]:
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [5]:
# Show all columns
print(df.columns)

# Check for duplicates
print("Duplicate rows:", df.duplicated().sum())

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')
Duplicate rows: 0

In [6]:
# Remove spaces and standardize column names
df.columns = df.columns.str.strip().str.replace(" ", "_")

# Check result
print(df.columns.tolist())

['Patient_ID', 'Age', 'Sex', 'Cholesterol', 'Blood_Pressure', 'Heart_Rate', 'Diabetes', 'Family_History', 'Smoking', 'Obesity', 'Alcohol_Consumption', 'Exercise_Hours_Per_Week', 'Diet', 'Previous_Heart_Problems', 'Medication_Use', 'Stress_Level', 'Sedentary_Hours_Per_Day', 'Income', 'BMI', 'Triglycerides', 'Physical_Activity_Days_Per_Week', 'Sleep_Hours_Per_Day', 'Country', 'Continent', 'Hemisphere', 'Heart_Attack_Risk']

In [7]:
columns_to_drop = ["Patient_ID","Income","Country","Alcohol_Consumption","Continent","Hemisphere"]  # adjust based on your dataset
df = df.drop(columns=columns_to_drop, errors='ignore')  # ignore if column not present

# Check resu
df.head()

,Age,Sex,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,Previous_Heart_Problems,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk
0,67,Male,208,158/88,72,0,0,1,0,4.168189,Average,0,0,9,6.615001,31.251233,286,0,6,0
1,21,Male,389,165/93,98,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,27.194973,235,1,7,0
2,21,Female,324,174/99,72,1,0,0,0,2.078353,Healthy,1,1,9,9.463426,28.176571,587,4,4,0
3,84,Male,383,163/100,73,1,1,1,0,9.828130,Average,1,0,9,7.648981,36.464704,378,3,4,0
4,66,Male,318,91/88,93,1,1,1,1,5.804299,Unhealthy,1,0,6,1.514821,21.809144,231,1,5,0

In [8]:
print(df['Sex'].unique())

['Male' 'Female']

In [9]:
df['Sex'] = df['Sex'].map({'Male':1, 'Female':0}) #male 1, female 0
df

,Age,Sex,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,Previous_Heart_Problems,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk
0,67,1,208,158/88,72,0,0,1,0,4.168189,Average,0,0,9,6.615001,31.251233,286,0,6,0
1,21,1,389,165/93,98,1,1,1,1,1.813242,Unhealthy,1,0,1,4.963459,27.194973,235,1,7,0
2,21,0,324,174/99,72,1,0,0,0,2.078353,Healthy,1,1,9,9.463426,28.176571,587,4,4,0
3,84,1,383,163/100,73,1,1,1,0,9.828130,Average,1,0,9,7.648981,36.464704,378,3,4,0
4,66,1,318,91/88,93,1,1,1,1,5.804299,Unhealthy,1,0,6,1.514821,21.809144,231,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,94/76,61,1,1,1,0,7.917342,Healthy,1,1,8,10.806373,19.655895,67,7,7,0
8759,28,0,120,157/102,73,1,0,0,1,16.558426,Healthy,0,0,8,3.833038,23.993866,617,4,9,0
8760,47,1,250,161/75,105,0,1,1,1,3.148438,Average,1,0,5,2.375214,35.406146,527,4,4,1
8761,36,1,178,119/67,60,1,0,1,0,3.789950,Unhealthy,1,1,5,0.029104,27.294020,114,2,8,0
8762,25,0,356,138/67,75,1,1,0,0,18.081748,Healthy,0,0,8,9.005234,32.914151,180,7,4,1

In [10]:
df['Cholesterol'].describe()

count    8763.000000
mean      259.877211
std        80.863276
min       120.000000
25%       192.000000
50%       259.000000
75%       330.000000
max       400.000000
Name: Cholesterol, dtype: float64

In [11]:
# Split 'Blood_Pressure' column into two numeric columns
df[['BP_Systolic', 'BP_Diastolic']] = df['Blood_Pressure'].str.split('/', expand=True)
df['BP_Systolic'] = pd.to_numeric(df['BP_Systolic'], errors='coerce')
df['BP_Diastolic'] = pd.to_numeric(df['BP_Diastolic'], errors='coerce')

# Drop original column
df = df.drop('Blood_Pressure', axis=1)

# Check
print(df[['BP_Systolic','BP_Diastolic']].head())

   BP_Systolic  BP_Diastolic
0          158            88
1          165            93
2          174            99
3          163           100
4           91            88

In [12]:
df.head()

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Diet,...,Medication_Use,Stress_Level,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic
0,67,1,208,72,0,0,1,0,4.168189,Average,...,0,9,6.615001,31.251233,286,0,6,0,158,88
1,21,1,389,98,1,1,1,1,1.813242,Unhealthy,...,0,1,4.963459,27.194973,235,1,7,0,165,93
2,21,0,324,72,1,0,0,0,2.078353,Healthy,...,1,9,9.463426,28.176571,587,4,4,0,174,99
3,84,1,383,73,1,1,1,0,9.828130,Average,...,0,9,7.648981,36.464704,378,3,4,0,163,100
4,66,1,318,93,1,1,1,1,5.804299,Unhealthy,...,0,6,1.514821,21.809144,231,1,5,0,91,88

In [13]:
# Convert Diet to dummy variables
df = pd.get_dummies(df, columns=['Diet'], drop_first=True)

# Convert True/False → 1/0
df = df.replace({True: 1, False: 0})

# Check
print(df[['Diet_Healthy', 'Diet_Unhealthy']].head())

   Diet_Healthy  Diet_Unhealthy
0             0               0
1             0               1
2             1               0
3             0               0
4             0               1

C:\Users\USER PC\AppData\Local\Temp\ipykernel_9512\3265549046.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [14]:
df

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,67,1,208,72,0,0,1,0,4.168189,0,...,6.615001,31.251233,286,0,6,0,158,88,0,0
1,21,1,389,98,1,1,1,1,1.813242,1,...,4.963459,27.194973,235,1,7,0,165,93,0,1
2,21,0,324,72,1,0,0,0,2.078353,1,...,9.463426,28.176571,587,4,4,0,174,99,1,0
3,84,1,383,73,1,1,1,0,9.828130,1,...,7.648981,36.464704,378,3,4,0,163,100,0,0
4,66,1,318,93,1,1,1,1,5.804299,1,...,1.514821,21.809144,231,1,5,0,91,88,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,1,121,61,1,1,1,0,7.917342,1,...,10.806373,19.655895,67,7,7,0,94,76,1,0
8759,28,0,120,73,1,0,0,1,16.558426,0,...,3.833038,23.993866,617,4,9,0,157,102,1,0
8760,47,1,250,105,0,1,1,1,3.148438,1,...,2.375214,35.406146,527,4,4,1,161,75,0,0
8761,36,1,178,60,1,0,1,0,3.789950,1,...,0.029104,27.294020,114,2,8,0,119,67,0,1
8762,25,0,356,75,1,1,0,0,18.081748,0,...,9.005234,32.914151,180,7,4,1,138,67,1,0

In [15]:
from sklearn.preprocessing import StandardScaler

numeric_cols = [
    'Age','Cholesterol','Heart_Rate','Exercise_Hours_Per_Week',
    'Sedentary_Hours_Per_Day','BMI','Triglycerides',
    'Physical_Activity_Days_Per_Week','Sleep_Hours_Per_Day',
    'BP_Systolic','BP_Diastolic'
]

scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [16]:
df

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,0.625557,1,-0.641579,-0.147042,0,0,1,0,-1.010838,0,...,0.179251,0.373454,-0.588539,-1.528843,-0.514750,0,0.870044,0.193782,0,0
1,-1.539322,1,1.596895,1.118179,1,1,1,1,-1.418027,1,...,-0.297225,-0.268479,-0.816487,-1.090738,-0.011823,0,1.135714,0.534480,0,1
2,-1.539322,0,0.793023,-0.147042,1,0,0,0,-1.372188,1,...,1.001031,-0.113134,0.756800,0.223577,-1.520604,0,1.477290,0.943319,1,0
3,1.425621,1,1.522691,-0.098380,1,1,1,0,-0.032188,1,...,0.477557,1.198524,-0.177339,-0.214528,-1.520604,0,1.059809,1.011458,0,0
4,0.578495,1,0.718820,0.874867,1,1,1,1,-0.727941,1,...,-1.292170,-1.120826,-0.834365,-1.090738,-1.017677,0,-1.672797,0.193782,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,0.296119,1,-1.717530,-0.682328,1,1,1,0,-0.362578,1,...,1.388476,-1.461594,-1.567374,1.537893,-0.011823,0,-1.558939,-0.623895,1,0
8759,-1.209884,0,-1.729898,-0.098380,1,0,0,1,1.131536,0,...,-0.623356,-0.775078,0.890887,0.223577,0.994032,0,0.832092,1.147738,1,0
8760,-0.315695,1,-0.122154,1.458815,0,1,1,1,-1.187161,1,...,-1.043943,1.030999,0.488626,0.223577,-1.520604,1,0.983903,-0.692035,0,0
8761,-0.833383,1,-1.012597,-0.730990,1,0,1,0,-1.076238,1,...,-1.720804,-0.252804,-1.357305,-0.652633,0.491104,0,-0.610117,-1.237152,0,1
8762,-1.351072,0,1.188775,-0.001055,1,1,0,0,1.394931,0,...,0.868841,0.636623,-1.062313,1.537893,-1.520604,1,0.110987,-1.237152,1,0

In [18]:
df = df.dropna()
df

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,0.625557,1,-0.641579,-0.147042,0,0,1,0,-1.010838,0,...,0.179251,0.373454,-0.588539,-1.528843,-0.514750,0,0.870044,0.193782,0,0
1,-1.539322,1,1.596895,1.118179,1,1,1,1,-1.418027,1,...,-0.297225,-0.268479,-0.816487,-1.090738,-0.011823,0,1.135714,0.534480,0,1
2,-1.539322,0,0.793023,-0.147042,1,0,0,0,-1.372188,1,...,1.001031,-0.113134,0.756800,0.223577,-1.520604,0,1.477290,0.943319,1,0
3,1.425621,1,1.522691,-0.098380,1,1,1,0,-0.032188,1,...,0.477557,1.198524,-0.177339,-0.214528,-1.520604,0,1.059809,1.011458,0,0
4,0.578495,1,0.718820,0.874867,1,1,1,1,-0.727941,1,...,-1.292170,-1.120826,-0.834365,-1.090738,-1.017677,0,-1.672797,0.193782,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,0.296119,1,-1.717530,-0.682328,1,1,1,0,-0.362578,1,...,1.388476,-1.461594,-1.567374,1.537893,-0.011823,0,-1.558939,-0.623895,1,0
8759,-1.209884,0,-1.729898,-0.098380,1,0,0,1,1.131536,0,...,-0.623356,-0.775078,0.890887,0.223577,0.994032,0,0.832092,1.147738,1,0
8760,-0.315695,1,-0.122154,1.458815,0,1,1,1,-1.187161,1,...,-1.043943,1.030999,0.488626,0.223577,-1.520604,1,0.983903,-0.692035,0,0
8761,-0.833383,1,-1.012597,-0.730990,1,0,1,0,-1.076238,1,...,-1.720804,-0.252804,-1.357305,-0.652633,0.491104,0,-0.610117,-1.237152,0,1
8762,-1.351072,0,1.188775,-0.001055,1,1,0,0,1.394931,0,...,0.868841,0.636623,-1.062313,1.537893,-1.520604,1,0.110987,-1.237152,1,0

In [19]:
print(df.info())
print(df.describe())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   float64
 1   Sex                              8763 non-null   int64
 2   Cholesterol                      8763 non-null   float64
 3   Heart_Rate                       8763 non-null   float64
 4   Diabetes                         8763 non-null   int64
 5   Family_History                   8763 non-null   int64
 6   Smoking                          8763 non-null   int64
 7   Obesity                          8763 non-null   int64
 8   Exercise_Hours_Per_Week          8763 non-null   float64
 9   Previous_Heart_Problems          8763 non-null   int64
 10  Medication_Use                   8763 non-null   int64
 11  Stress_Level                     8763 non-null   int64
 12  Sedentary_Hours_Per_Day          8763 non-null   float64
 13  BMI                              8763 non-null   float64
 14  Triglycerides                    8763 non-null   float64
 15  Physical_Activity_Days_Per_Week  8763 non-null   float64
 16  Sleep_Hours_Per_Day              8763 non-null   float64
 17  Heart_Attack_Risk                8763 non-null   int64
 18  BP_Systolic                      8763 non-null   float64
 19  BP_Diastolic                     8763 non-null   float64
 20  Diet_Healthy                     8763 non-null   int64
 21  Diet_Unhealthy                   8763 non-null   int64
dtypes: float64(11), int64(11)
memory usage: 1.5 MB
None
                Age          Sex   Cholesterol    Heart_Rate     Diabetes  \
count  8.763000e+03  8763.000000  8.763000e+03  8.763000e+03  8763.000000
mean  -5.838078e-17     0.697364  5.351571e-17  1.791966e-16     0.652288
std    1.000057e+00     0.459425  1.000057e+00  1.000057e+00     0.476271
min   -1.680510e+00     0.000000 -1.729898e+00 -1.704237e+00     0.000000
25%   -8.804460e-01     0.000000 -8.394550e-01 -8.769771e-01     0.000000
50%    1.374337e-02     1.000000 -1.084870e-02 -1.055100e-03     1.000000
75%    8.608701e-01     1.000000  8.672267e-01  8.748669e-01     1.000000
max    1.707997e+00     1.000000  1.732935e+00  1.702127e+00     1.000000

       Family_History      Smoking      Obesity  Exercise_Hours_Per_Week  \
count     8763.000000  8763.000000  8763.000000             8.763000e+03
mean         0.492982     0.896839     0.501426             2.100086e-16
std          0.499979     0.304186     0.500026             1.000057e+00
min          0.000000     0.000000     0.000000            -1.731130e+00
25%          0.000000     1.000000     0.000000            -8.701960e-01
50%          0.000000     1.000000     1.000000             9.557564e-03
75%          1.000000     1.000000     1.000000             8.707198e-01
max          1.000000     1.000000     1.000000             1.726389e+00

       Previous_Heart_Problems  ...  Sedentary_Hours_Per_Day           BMI  \
count              8763.000000  ...             8.763000e+03  8.763000e+03
mean                  0.495835  ...             2.874443e-16 -8.432779e-17
std                   0.500011  ...             1.000057e+00  1.000057e+00
min                   0.000000  ...            -1.728837e+00 -1.723282e+00
25%                   0.000000  ...            -8.640384e-01 -8.654242e-01
50%                   0.000000  ...            -1.732987e-02 -1.937807e-02
75%                   1.000000  ...             8.728487e-01  8.598357e-01
max                   1.000000  ...             1.732644e+00  1.757569e+00

       Triglycerides  Physical_Activity_Days_Per_Week  Sleep_Hours_Per_Day  \
count   8.763000e+03                     8.763000e+03         8.763000e+03
mean   -5.635367e-17                    -1.013555e-17        -1.873050e-16
std     1.000057e+00                     1.000057e+00         1.000057e+00
min    -1.732748e+00                    -1.528843e+00        -1.520604e+00
25%    -8.589480e-01                    -6.526332e-01        -1.017677e+00
50%    -3.026125e-03                    -2.145280e-01        -1.182278e-02
75%     8.685392e-01                     6.616823e-01         9.940317e-01
max     1.708818e+00                     1.537893e+00         1.496959e+00

       Heart_Attack_Risk   BP_Systolic  BP_Diastolic  Diet_Healthy  \
count        8763.000000  8.763000e+03  8.763000e+03   8763.000000
mean            0.358211  3.308244e-16 -3.142021e-16      0.337784
std             0.479502  1.000057e+00  1.000057e+00      0.472981
min             0.000000 -1.710750e+00 -1.714130e+00      0.000000
25%             0.000000 -8.757873e-01 -8.964538e-01      0.000000
50%             0.000000 -2.871477e-03 -1.063735e-02      0.000000
75%             1.000000  8.700444e-01  8.751790e-01      1.000000
max             1.000000  1.705007e+00  1.692856e+00      1.000000

       Diet_Unhealthy
count     8763.000000
mean         0.329910
std          0.470207
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000

[8 rows x 22 columns]

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,0.625557,1,-0.641579,-0.147042,0,0,1,0,-1.010838,0,...,0.179251,0.373454,-0.588539,-1.528843,-0.514750,0,0.870044,0.193782,0,0
1,-1.539322,1,1.596895,1.118179,1,1,1,1,-1.418027,1,...,-0.297225,-0.268479,-0.816487,-1.090738,-0.011823,0,1.135714,0.534480,0,1
2,-1.539322,0,0.793023,-0.147042,1,0,0,0,-1.372188,1,...,1.001031,-0.113134,0.756800,0.223577,-1.520604,0,1.477290,0.943319,1,0
3,1.425621,1,1.522691,-0.098380,1,1,1,0,-0.032188,1,...,0.477557,1.198524,-0.177339,-0.214528,-1.520604,0,1.059809,1.011458,0,0
4,0.578495,1,0.718820,0.874867,1,1,1,1,-0.727941,1,...,-1.292170,-1.120826,-0.834365,-1.090738,-1.017677,0,-1.672797,0.193782,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,0.296119,1,-1.717530,-0.682328,1,1,1,0,-0.362578,1,...,1.388476,-1.461594,-1.567374,1.537893,-0.011823,0,-1.558939,-0.623895,1,0
8759,-1.209884,0,-1.729898,-0.098380,1,0,0,1,1.131536,0,...,-0.623356,-0.775078,0.890887,0.223577,0.994032,0,0.832092,1.147738,1,0
8760,-0.315695,1,-0.122154,1.458815,0,1,1,1,-1.187161,1,...,-1.043943,1.030999,0.488626,0.223577,-1.520604,1,0.983903,-0.692035,0,0
8761,-0.833383,1,-1.012597,-0.730990,1,0,1,0,-1.076238,1,...,-1.720804,-0.252804,-1.357305,-0.652633,0.491104,0,-0.610117,-1.237152,0,1
8762,-1.351072,0,1.188775,-0.001055,1,1,0,0,1.394931,0,...,0.868841,0.636623,-1.062313,1.537893,-1.520604,1,0.110987,-1.237152,1,0

In [20]:
df.head()

,Age,Sex,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Obesity,Exercise_Hours_Per_Week,Previous_Heart_Problems,...,Sedentary_Hours_Per_Day,BMI,Triglycerides,Physical_Activity_Days_Per_Week,Sleep_Hours_Per_Day,Heart_Attack_Risk,BP_Systolic,BP_Diastolic,Diet_Healthy,Diet_Unhealthy
0,0.625557,1,-0.641579,-0.147042,0,0,1,0,-1.010838,0,...,0.179251,0.373454,-0.588539,-1.528843,-0.514750,0,0.870044,0.193782,0,0
1,-1.539322,1,1.596895,1.118179,1,1,1,1,-1.418027,1,...,-0.297225,-0.268479,-0.816487,-1.090738,-0.011823,0,1.135714,0.534480,0,1
2,-1.539322,0,0.793023,-0.147042,1,0,0,0,-1.372188,1,...,1.001031,-0.113134,0.756800,0.223577,-1.520604,0,1.477290,0.943319,1,0
3,1.425621,1,1.522691,-0.098380,1,1,1,0,-0.032188,1,...,0.477557,1.198524,-0.177339,-0.214528,-1.520604,0,1.059809,1.011458,0,0
4,0.578495,1,0.718820,0.874867,1,1,1,1,-0.727941,1,...,-1.292170,-1.120826,-0.834365,-1.090738,-1.017677,0,-1.672797,0.193782,0,1

In [21]:
print(df.isnull().sum())

Age                                0
Sex                                0
Cholesterol                        0
Heart_Rate                         0
Diabetes                           0
Family_History                     0
Smoking                            0
Obesity                            0
Exercise_Hours_Per_Week            0
Previous_Heart_Problems            0
Medication_Use                     0
Stress_Level                       0
Sedentary_Hours_Per_Day            0
BMI                                0
Triglycerides                      0
Physical_Activity_Days_Per_Week    0
Sleep_Hours_Per_Day                0
Heart_Attack_Risk                  0
BP_Systolic                        0
BP_Diastolic                       0
Diet_Healthy                       0
Diet_Unhealthy                     0
dtype: int64

In [22]:
print(df.duplicated().sum())
df = df.drop_duplicates()

0

In [23]:
print(df['Heart_Attack_Risk'].value_counts())

Heart_Attack_Risk
0    5624
1    3139
Name: count, dtype: int64